
.inter-inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-rale-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{

    margin: 0px auto;
    background: #f5f8ff;

}
.hero{
    background-image: url('Assets/Hero-bg.png');
    
}
header{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}
.logo{
    font-family: "Inter";
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
    text-transform: uppercase;
}

.button{
    color: white;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: 1px solid #4E47FF;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.button:hover{
    background: white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
    transition: 0.5s;
}

.banner{
    width: 1140px;
    margin: auto;
    margin-top: 158px;
    text-align: center;
    padding-bottom: 152px;
}
.banner h3{ 
    font-family: "raleway";
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    text-align: center;

}

/* action section */
.action{
display: flex;
justify-content: space-between;
gap: 220px;
width: 1140px;
margin: auto;
padding: 100px 0px;

}
.action-title {
    align-items: center;
}
.action-title h3{
    font-family: 'raleway';
    font-size: 42px;
    color: #252432;
    font-weight: bold;
}
.action-title p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-family: 'raleway';
}
.action-img img{
    border-radius: 48px;
}

/* Productive section */

.productive{
    width: 1140px;
    margin: auto;
    margin-bottom: 100px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 0px;
    text-align: center;
    border-radius: 24px;

}

.productive h3{
    font-family: 'raleway';
    font-size: 38px;
    color: #252432;
    font-weight: bold;

}

.counter{
    display: flex;
    justify-content: space-around;
    /* gap: 158px; */
}
.card{
    margin: auto;
    text-align: center;
}
.card h2{
    color: #4E47FF;
    font-family: "Inter";
    font-size: 80px;
    font-weight: 700;
    line-height: 0;
}
.card p{
    font-family: "Inter";
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);

}